body {
    font-family: 'Roboto Slab', serif;
}

#content {

    font-size: 2em;
    line-height: 1.3em;
    padding: 20px;
    min-width: 500px;
    max-width: 800px;
    display: inline-block;
    vertical-align: top;
}

#translation {
    position: fixed;
    right: 0;
    display: inline-block;
    vertical-align: top;
    text-align: right;
    padding: 20px 20px 0 0;
    z-index: 2;
}

#translation h3 {
    margin: 0;
}

footer {
    position: fixed;
    bottom: 0;
    width: 100%;
    padding-bottom: 20px;
    text-align: center;
    z-index: 1;
}

@media only screen and (max-device-width : 480px) {
    #content {
        font-size: 1.5em;
        min-width: initial;
        max-width: none;
        display: block;
        padding: 10px;
    }

    #translation {
        padding: 10px;
        text-align: left;
        background-color: #fff;
    }
    #translation p {
        display: inline-block;
        margin: 0 0 0 10px;
    }

    footer {
        padding-bottom: 10px;
        font-size: xx-small;
    }
}